@font-face {
	font-family: 'Web font';
	src: url(/font/Magnit_Sans-Regular.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
}
* {
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;
}

body {
	font-family: 'Magnit_Sans-Regular', sans-serif; /* Замените 'sans-serif' на альтернативный шрифт */
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f43648;
	transition: 0.5s;
}

/*Форма заполнения данных*/

.container2 {
	width: 600px;
	height: 100%;
	padding: 40px 0;
	position: relative;
}
.form__base-box {
	background-color: #fff;
	box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
	padding: 20px 20px;
	top: 0;
	z-index: 1000;
	transition: 0.5s ease-in-out;
}

.form2 {
	top: 0;
	transition: 0.5s;
}
.UserForm {
	display: none;
}

.form__title2 {
	font-size: 1.5 rem;
	font-weight: 500;
	color: #333;
}
.form__input2 {
	width: 100%;
	padding: 15px;
	bottom: solid 1px #333;
	font-size: inherit;
}
.form__btn2 {
	border: none;
	cursor: pointer;
	font-size: inherit;
	background-color: #f43648;
	color: #fff;
	padding: 10px 50px;
}
